Repository chanzuckerberg/cryoet-data-portal, pull requests merged in 2025-03, with the labels that each got.

#1666 feat: setup frontend on argus
  .github/workflows/argus-stack-prod-upsert.yaml
  .github/workflows/argus-stack-rdev-create.yaml
  .github/workflows/argus-stack-rdev-delete.yaml
  .github/workflows/argus-stack-staging-upsert.yaml
  .github/workflows/docker-build-rdev.yaml
  .github/workflows/docker-build-staging-prod.yaml
  .github/workflows/release-please.yml
  .github/workflows/workflow-argus-docker-build.yaml
  .infra/common.yaml
  .infra/prod/Chart.yaml
  .infra/prod/values.yaml
  .infra/rdev/Chart.yaml
  .infra/rdev/values.yaml
  .infra/staging/Chart.yaml
  .infra/staging/values.yaml
  frontend/packages/data-portal/Dockerfile
  frontend/packages/data-portal/README.md
  release-please.config.json
Labels: stack

#1670 fix: update docker
  .github/workflows/argus-stack-prod-upsert.yaml
  .github/workflows/argus-stack-rdev-create.yaml
  .github/workflows/argus-stack-rdev-delete.yaml
  .github/workflows/argus-stack-staging-upsert.yaml
  .infra/rdev/values.yaml
  frontend/packages/data-portal/Dockerfile
  frontend/packages/data-portal/README.md
Labels: stack

#1679 fix: deposition annotations count
  frontend/packages/data-portal/app/components/Deposition/DatasetsTable.tsx
  frontend/packages/data-portal/app/components/Deposition/DepositionOverview.tsx
  frontend/packages/data-portal/app/graphql/getDepositionByIdV2.server.ts
Labels: preview

#1685 fix: env var
  .infra/prod/values.yaml
  .infra/rdev/values.yaml
  .infra/staging/values.yaml
  frontend/README.md
Labels: stack

#1697 docs: Add ground truth section to data organization page
  docs/cryoet_data_portal_docsite_data.md
Labels: documentation, backport-docs

#1705 feat: update top nav
  .infra/rdev/values.yaml
  frontend/packages/data-portal/app/components/Layout/AboutAndReportDropdown.tsx
  frontend/packages/data-portal/app/components/Layout/MobileNavigationMenu.tsx
  frontend/packages/data-portal/app/components/Layout/TopNavigation.tsx
  frontend/packages/data-portal/app/components/Layout/constants.ts
  frontend/packages/data-portal/app/constants/siteLinks.ts
  frontend/packages/data-portal/public/locales/en/translation.json
Labels: stack

#1708 feat: Add Ground Truth tag Annotation Objects
  .infra/rdev/values.yaml
  frontend/packages/data-portal/app/apiNormalization/browseAllDepositionsV2.ts
  frontend/packages/data-portal/app/components/AnnotatedObjectsList.test.tsx
  frontend/packages/data-portal/app/components/AnnotatedObjectsList.tsx
  frontend/packages/data-portal/app/components/BrowseData/DatasetTable.tsx
  frontend/packages/data-portal/app/components/BrowseData/DepositionTable.tsx
  frontend/packages/data-portal/app/components/Dataset/RunsTable.tsx
  frontend/packages/data-portal/app/components/Deposition/DatasetsTable.tsx
  frontend/packages/data-portal/app/components/Link/Link.tsx
  frontend/packages/data-portal/app/constants/table.ts
  frontend/packages/data-portal/app/graphql/getBrowseDepositionsV2.server.ts
  frontend/packages/data-portal/app/graphql/getDatasetByIdV2.server.ts
  frontend/packages/data-portal/app/graphql/getDatasetsV2.server.ts
  frontend/packages/data-portal/app/graphql/getDepositionByIdV2.server.ts
  frontend/packages/data-portal/app/types/PageData/browseAllDepositionsPageData.ts
  frontend/packages/data-portal/app/utils/setObjectNameAndGroundTruthStatus.ts
  frontend/packages/data-portal/public/locales/en/translation.json
Labels: stack

#1721 docs: Doc improvements following audit + expansion of data organization page
  docs/changelog.md
  docs/cryoet_data_portal_docsite_aws.md
  docs/cryoet_data_portal_docsite_data.md
  docs/cryoet_data_portal_docsite_examples.md
  docs/cryoet_data_portal_docsite_faq.md
  docs/cryoet_data_portal_docsite_landing.md
  docs/cryoet_data_portal_docsite_quick_start.md
  docs/data_model.md
Labels: documentation, backport-docs
